# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\amonm\Proyectos\Bedu\Backend2020\Java-Backend-2020\Sesion-02\Reto-03\solucion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
